<section class="contact-footer">
  <h2>Contact</h2>
  <p>Tel : 032-835-8433</p>
  <p>Mail : mh.lee@inu.ac.kr</p>
  <div class="contact-footer__addr">
    <p>Room 251, Bldg 8-B</p>
    <p>Department of Electrical engineering, Incheon National University</p>
  </div>
</section>
